*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

html, body{
    /* para que ocupe toda la pantalla */
    height: 100%;
}

.contenedor{
    background-color: #181818;
    min-height: 100%;

    display: grid;
    grid-template-columns: 250px 1fr;
}

/* --------------------------------
SIDEBAR
----------------------------- */

aside{
    background-color: #121212;
    height: 100%;
    overflow: hidden;
    box-shadow: 4px 0 15px rgba(0,0,0,0.6);
}

.titulo-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    margin: 10px;
    margin-bottom: 20px;
}

.ref-navbar{
    margin: 10px;
}

.listas-navbar{
    margin: 10px;
}

.listas-navbar li{
    margin: 5px;
    font-size: 12px;
    color: #a1a1a1;
}

/* --------------------------------
MAIN
----------------------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10vh;
}

/* ------
NAV MAIN
---------- */
nav{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);

    display: flex;
    justify-content: space-between;
}

.flechas{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
}

svg{
    display: flex;
    margin: 0 5px;
}

.perfil{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 20px;
}

.btn-premium{
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn-premium h4{
    color: rgb(46, 46, 46);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------
INICIO MAIN
---------- */

.inicio{
    display: flex;
    flex-direction: column;

    width: 90%;
    gap: 30px;
    padding: 25px;

    background-color: #1f1f1f;
    box-shadow: 0 2px 12px rgba(0,0,0,0.35);
}

.contenedor-playlists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit,1fr);
    justify-items: center;
    gap: 10px;
    row-gap: 20px;
}

.playlists{
    gap: 10px;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #393939;
    box-shadow: 3px 5px 20px rgba(181, 181, 181, 0.138);
    border: #e5e5e507 3px solid;
}

.playlists:hover{
    background: #333333;
}

/* 
--------------------
FOOTER
-------------------- */

footer{
    display: flex;
    min-height: 50px;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #1e1e1e;
    box-shadow: 0 -1px 10px #121212;
}

.cancion-footer{
    display: flex;
    height: 90%;
    align-items: center;
}

.cancion-footer figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background: #181717;
}

.cancion-footer h5{
    color: #e1e1e1;
}

.cancion-footer p{
    font-size: 12px;
}

audio{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 75%;
    width: 40%;
}


p{
    color: #b3b3b3
}

.playlists h3{
    color: #e1e1e1;
}